@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared styles */

.dark-1{
  color: rgba(37, 36, 50, 1);
}
.dark-2{
  color:rgba(137, 135, 161, 1) ;
}
.orang-color{
  color: #E95A08;
}

.dark-black{
  color:rgba(0, 0, 0, 1) ;
}
.dark-white{
  color: rgba(0, 0, 0, 0.712);
}
.text-center{
  text-align: center;
}
/* nav bar */

nav{
  display: flex;
  justify-content:space-between;
  margin: 30px 150px 0px 150px;
}

nav ul{
  display: flex;
  gap: 48px;
}

nav li{
  list-style: none;
}

nav li a{
  text-decoration: none;
}
/* Banner Styles */
.banner-container{
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 1140px;
  
}

.banner-collumn{
  padding-top: 162px ;
}
.banner-titles{
  font-weight:bold;
  font-size: 65px;
}

.banner-description{
  font-weight: normal;
  font-size: 22px;
}
.banner-pic{
  margin-top: 150px;
  width:570px ;
  height: 355px;
}
/* Section Our Plants */
.Our-plant{
  text-align: center;
  margin: 50px auto;
  max-width: 1140px;
}
.Our-plant-titls{
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}
.Our-plant-discription{
  align-items: center;
  font-weight: normal;
  font-size: 22px;
  margin: 0px 150px 50px 150px;
}
.cards{
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.card-pic{
  width: 270px;
  height: 323px;
}
.card-titls{
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 7px;
  margin-top: 20px;
}
.card-price{
  font-weight: bold;
  font-size: 22px;
  margin-top: 12px;
  margin-bottom: 18px;
}
.btc-cart{
  background-color: #E95A08;
  color: white;
  border: none;
  padding: 15px 80px;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 50px;
}
/* Plant lover section */
.plant-store-max{
  max-width: 1140px;
  margin: 120px auto;
}
.plant-lover{
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* max-width: 1140px; */
  width: 100%;
  gap: 40px;
}
.store-pic{
  width: 540px;
  height: 597px;
}
.store-title{
  /* text-align: center; */
  font-weight: bold;
  font-size: 50px;
}
.store-description{
  /* margin-bottom: -350px; */
  font-weight: normal;
  font-size: 20px;
}

.store-description li{
  margin-bottom: 20px;
}
#badge-pic{
  width: 270px;
  height: auto;
  filter: drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.493));
  
}
#badge-position{
  position: absolute;
  top: -100px;
  right: -86px;
}

.planet-lover-images{
  position: relative;
}